@font-face {
    font-family: NeueMontrealRegular;
    src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('/fonts/NeueMontreal-Regular.woff') format('woff'),
    url('/fonts/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
    font-family: NeueMontrealLight;
    src: url('/fonts/NeueMontreal-Light.otf') format('opentype');
}